{% extends 'members/base.html' %}
{% load static %}
{% block title %}Profile of {{ user.username }}{% endblock %}

{% block content %}
<div class="px-4 py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7">
        <h1>Tour de France</h1>
        <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-7"><a href="img/portfolio-3.jpg" data-lightbox="image-1" data-title="Tour de France"><img class="img-fluid mb-4" src="img/portfolio-3.jpg" alt=""></a><a href="img/portfolio-1.jpg" data-lightbox="image-1" data-title="Tour de France"><img class="img-fluid mb-4" src="img/portfolio-1.jpg" alt=""></a></div>
      <div class="col-lg-5 position-sticky">
        <h2>Idea</h2>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="p-4 bg-light mb-5">
          <ul class="list-unstyled mb-0">
            <li class="d-flex mb-2">
              <h6 class="mb-0">Category:</h6>
              <p class="ml-3 text-muted mb-0">Creative</p>
            </li>
            <li class="d-flex mb-2">
              <h6 class="mb-0">Date:</h6>
              <p class="ml-3 text-muted mb-0">23 Dec 2019</p>
            </li>
            <li class="d-flex">
              <h6 class="mb-0">Tags:</h6>
              <p class="ml-3 text-muted mb-0"><a class="reset-anchor mr-1" href="#">Art,</a><a class="reset-anchor mr-1" href="#">Branding,</a><a class="reset-anchor mr-1" href="#">Illustration,</a></p>
            </li>
          </ul>
        </div>
        <h2 class="h3 mb-4">Share</h2>
        <ul class="list-inline">
          <li class="list-inline-item"><a class="reset-anchor social-share-link facebook" href="#"><i class="fab fa-facebook-f mr-2"></i>Share</a></li>
          <li class="list-inline-item"><a class="reset-anchor social-share-link twitter" href="#"><i class="fab fa-twitter mr-2"></i>Tweet</a></li>
          <li class="list-inline-item"><a class="reset-anchor social-share-link instagram" href="#"><i class="fab fa-instagram mr-2"></i>Share</a></li>
        </ul>
      </div>
    </div>
    <h2 class="h3 mb-4">Related projects</h2>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="listing-item pl-0">
          <div class="position-relative"><a class="reset-anchor d-block listing-img-holder" href="detail.html"><img class="img-fluid rounded-lg" src="img/portfolio-6.jpg" alt="">
              <p class="mb-0 text-primary small d-flex align-items-center listing-btn"> <span>Look inside</span>
                <svg class="svg-icon text-primary svg-icon-sm ml-2">
                  <use xlink:href="#arrow-right-1"> </use>
                </svg>
              </p></a></div>
          <div class="py-3"><a class="reset-anchor" href="detail.html">
              <h2 class="h5 listing-item-heading">Banana Lady</h2></a>
            <p class="text-small mb-0 listing-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="listing-item pl-0">
          <div class="position-relative"><a class="reset-anchor d-block listing-img-holder" href="detail.html"><img class="img-fluid rounded-lg" src="img/portfolio-4.jpg" alt="">
              <p class="mb-0 text-primary small d-flex align-items-center listing-btn"> <span>Look inside</span>
                <svg class="svg-icon text-primary svg-icon-sm ml-2">
                  <use xlink:href="#arrow-right-1"> </use>
                </svg>
              </p></a></div>
          <div class="py-3"><a class="reset-anchor" href="detail.html">
              <h2 class="h5 listing-item-heading">Treasure Haunted</h2></a>
            <p class="text-small mb-0 listing-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="listing-item pl-0">
          <div class="position-relative"><a class="reset-anchor d-block listing-img-holder" href="detail.html"><img class="img-fluid rounded-lg" src="img/portfolio-5.jpg" alt="">
              <p class="mb-0 text-primary small d-flex align-items-center listing-btn"> <span>Look inside</span>
                <svg class="svg-icon text-primary svg-icon-sm ml-2">
                  <use xlink:href="#arrow-right-1"> </use>
                </svg>
              </p></a></div>
          <div class="py-3"><a class="reset-anchor" href="detail.html">
              <h2 class="h5 listing-item-heading">Best Friends</h2></a>
            <p class="text-small mb-0 listing-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
