{% extends 'members/profile_base.html' %}
{% load static %}
{% block title %}Profile of {{ user.username }}{% endblock %}

{% block content %}
<div class="px-4 py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7">
        <h1>Profile of {{ user.username }}</h1>
        <p class="text-muted mb-5">Get the scoop on {{ user.username }}</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-5 position-sticky">
        <h2>Stats</h2>
        <div class="p-4 bg-light mb-5">
          <ul class="list-unstyled mb-0">
            <li class="d-flex mb-2">
              <h6 class="mb-0">Total votes recieved:</h6>
              <p class="ml-3 text-muted mb-0">{{ vote_count }}</p>
            </li>
            <li class="d-flex mb-2">
              <h6 class="mb-0">Votes given:</h6>
              <a href="{% url 'votes' user.username %}"><p class="ml-3 text-muted mb-0">Details</p></a>
            </li>
            <li class="d-flex">
              <h6 class="mb-0">Stories submitted:</h6>
              <a href="{% url 'submissions' user.username %}"><p class="ml-3 text-muted mb-0">Details</p></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
