{% extends 'base.html' %}
{% load static %}
{% block title %}About This Site{% endblock %}

{% block content %}
<div class="px-4 py-5">
  <div class="container-fluid">
    <div class="p-5 mb-5 bg-light">
      <div class="row">
        <div class="container-fluid">
          <h2 class="h1">Why PyNews</h2>
          <h5 class="text-muted mb-4">I wanted to create a central hub of information. The goal is to try and use sources that are more informative rather than opinionated. This site will use APIs and webscraping to achieve this. Some interests of mine:
            <br><br>
            <ul class="list-inline">
              <div class="row">
                <div class="col-4">
                  <ul class="list-unstyled">
                    <li><i class="fas fa-gamepad mr-2 mb-2 fa-fw"></i>Video Games</li>
                    <li><i class="fas fa-film mr-2 mb-2 fa-fw"></i>Movies</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="list-unstyled">
                    <li><i class="fas fa-code mr-2 mb-2 fa-fw"></i>Coding</li>
                    <li><i class="fas fa-laptop mr-2 mb-2 fa-fw"></i>Tech</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="list-unstyled">
                    <li><i class="fas fa-podcast mr-2 mb-2 fa-fw"></i>Podcasts</li>
                    <li><i class="fas fa-money-bill mr-2 mb-2 fa-fw"></i>Finance</li>
                  </ul>
                </div>
              </div>
            </ul>
          </h5>
        </div>
      </div>
    </div>
    <div class="p-5 mb-5 bg-light">
    <h2 class="h1">Key Features</h2>
    <div class="row mb-4">
      <div class="col-lg-4 mb-4">
        <div class="d-flex">
          <div class="flex-grow-1">
            <svg class="svg-icon text-primary">
            <i class="fas fa-network-wired fa-2x"></i>
            </svg>
          </div>
          <div class="container-fluid">
            <h3 class="h5 mr-3">APIs</h3>
            <p class="text-muted mb-2">I am currently using the free tier News API. Most queries will not refresh daily unless I upgrade.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="d-flex">
          <div class="flex-grow-1">
            <svg class="svg-icon text-primary">
              <i class="fas fa-laptop fa-2x"></i>
            </svg>
          </div>
          <div class="container-fluid">
            <h3 class="h5 mr-3">Web Scraping</h3>
            <p class="text-muted mb-2">Seperate pages will feature site specific scraping. I will scrape certain sites from time to time if they provide informative articles with little to no spin</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="d-flex">
          <div class="flex-grow-1">
            <svg class="svg-icon text-primary">
              <i class="fas fa-user fa-2x"></i>
            </svg>
          </div>
          <div class="container-fluid">
            <h3 class="h5 mr-3">User Interaction</h3>
            <p class="text-muted mb-2">Inspired by sites like Hacker news. Users of the site can submit their own stories so others can view, vote, and talk with one another. This is a sort of hidden feature of the site. The answer is in the footer so its not that great of a secret...</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="d-flex">
          <div class="flex-grow-1">
            <svg class="svg-icon text-primary">
              <i class="fas fa-vote-yea fa-2x"></i>
            </svg>
          </div>
          <div class="container-fluid">
            <h3 class="h5 mr-3">Voting System</h3>
            <p class="text-muted mb-2">Another hint for that "secret"</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <h2 class="h1">Fun facts</h2>
    <p class="text-muted mb-4">More details coming soon...</p>
    <div class="row text-center align-items-stretch">
      <div class="col-lg-3 mb-4">
        <div class="border p-4 h-100 d-flex align-items-center">
          <div class="w-100">
            <i class="fas fa-project-diagram fa-2x"></i>
            <h5>APIs In Use</h5><hr>
            <p class="mb-0 text-gray h5">1</p>
            <br>
            <a href="#"><i class="fas fa-info-circle fa-lg"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="border p-4 h-100 d-flex align-items-center bg-light">
          <div class="w-100">
            <i class="fas fa-file-alt fa-2x"></i>
            <h5>Pages Scraped</h5><hr>
            <p class="mb-0 text-gray h5">-</p>
            <br>
            <a href="#"><i class="fas fa-info-circle fa-lg"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="border p-4 h-100 d-flex align-items-center">
          <div class="w-100">
            <i class="fas fa-users fa-2x"></i>
            <h5>Member Votes</h5><hr>
            <p class="mb-0 text-gray h5">-</p>
            <br>
            <a href="#"><i class="fas fa-info-circle fa-lg"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="border p-4 h-100 d-flex align-items-center bg-light">
          <div class="w-100">
            <i class="fas fa-robot fa-2x"></i>
            <h5>ML Queries</h5><hr>
            <p class="mb-0 text-gray h5">-</p>
            <br>
            <a href="#"><i class="fas fa-info-circle fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
