{% extends 'base.html' %}
{% load static %}
{% block title %}About This Site{% endblock %}

{% block content %}
<div class="px-4 py-5">
  <div class="container-fluid">
    <div class="p-5 mb-5 bg-light">
      <div class="row">
        <div class="container-fluid">
          <h1 class="font-weight-normal">Why <strong>PyNews?</strong></h1>
          <h5 class="text-muted mb-4">I wanted to create a central hub of information for myself. The goal is to try and use sources that are more informative rather than opinionated. This site will use APIs and webscraping to achieve this. Some interests of mine:
            <br><br>
            <ul class="list-inline">
              <div class="row">
                <div class="col-4">
                  <ul class="list-unstyled">
                    <li><i class="fas fa-gamepad mr-2 mb-2 fa-fw"></i>Video Games</li>
                    <li><i class="fas fa-film mr-2 mb-2 fa-fw"></i>Movies</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="list-unstyled">
                    <li><i class="fas fa-code mr-2 mb-2 fa-fw"></i>Coding</li>
                    <li><i class="fas fa-laptop mr-2 mb-2 fa-fw"></i>Tech</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="list-unstyled">
                    <li><i class="fas fa-landmark mr-2 mb-2 fa-fw"></i>Politics</li>
                    <li><i class="fas fa-money-bill mr-2 mb-2 fa-fw"></i>Finance</li>
                  </ul>
                </div>
              </div>
            </ul>
          </h5>
        </div>
      </div>
    </div>
    <h2 class="h1">Key Features</h2>
    <div class="row mb-4">
      <div class="col-lg-6 mb-4">
        <div class="d-flex">
          <div class="flex-grow-1">
            <svg class="svg-icon text-primary">
              <use xlink:href="#stack-1"> </use>
            </svg>
          </div>
          <div class="ml-3">
            <h3 class="h5 mr-3">APIs</h3>
            <p class="text-muted mb-2">eceived overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="d-flex">
          <div class="flex-grow-1">
            <svg class="svg-icon text-primary">
              <use xlink:href="#laptop-screen-1"> </use>
            </svg>
          </div>
          <div class="ml-3">
            <h3 class="h5 mr-3">Web Scraping</h3>
            <p class="text-muted mb-2">eceived overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="d-flex">
          <div class="flex-grow-1">
            <svg class="svg-icon text-primary">
              <use xlink:href="#design-1"> </use>
            </svg>
          </div>
          <div class="ml-3">
            <h3 class="h5 mr-3">User Authentication?</h3>
            <p class="text-muted mb-2">eceived overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="d-flex">
          <div class="flex-grow-1">
            <svg class="svg-icon text-primary">
              <use xlink:href="#multiple-windows-1"> </use>
            </svg>
          </div>
          <div class="ml-3">
            <h3 class="h5 mr-3">Web Developer</h3>
            <p class="text-muted mb-2">eceived overcame oh sensible so at an. Formed do change merely to county it. Am separate contempt domestic to to oh. On relation my so addition branched.</p>
          </div>
        </div>
      </div>
    </div>
    <h2 class="h1">Fun facts</h2>
    <p class="text-muted mb-4">Quick stats as the site grows</p>
    <div class="row text-center align-items-stretch">
      <div class="col-lg-3 mb-4">
        <div class="border p-4 h-100 d-flex align-items-center">
          <div class="w-100">
            <svg class="svg-icon text-gray mb-2">
              <use xlink:href="#stack-1"> </use>
            </svg>
            <h5>Happy Clients</h5>
            <p class="mb-0 text-gray h5">1200</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="border p-4 h-100 d-flex align-items-center bg-light">
          <div class="w-100">
            <svg class="svg-icon text-gray mb-2">
              <use xlink:href="#quality-1"> </use>
            </svg>
            <h5>Awards Won</h5>
            <p class="mb-0 text-gray h5">18</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="border p-4 h-100 d-flex align-items-center">
          <div class="w-100">
            <svg class="svg-icon text-gray mb-2">
              <use xlink:href="#time-1"> </use>
            </svg>
            <h5>Working Hours</h5>
            <p class="mb-0 text-gray h5">6500</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-4">
        <div class="border p-4 h-100 d-flex align-items-center bg-light">
          <div class="w-100">
            <svg class="svg-icon text-gray mb-2">
              <use xlink:href="#hot-coffee-1"> </use>
            </svg>
            <h5>Coffee Consumed</h5>
            <p class="mb-0 text-gray h5">18000</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
