{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="px-4 py-5">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h5>Click the topics on the side to view 5 articles per query. The site defaults to Top news</h5>
    <h5>Want to see another topic? <a href="mailto:projectpynews@gmail.com">Email Me</a></h5>
  </div>
  <br>
  <div class="container-fluid" id="articles-container">
    {% for article in data %}
    <h3 target="_blank">{{ article.title }}</h3>
    <div class="col-md-4 img-box">
      <img src="{{ article.image }}" class="card-img" alt="article image" style="width:auto;height:200px;">
    </div>
    <div class="container-fluid mt-2">
      <h6>Source: {{ article.source.name|upper }}</h6>
      <h6>Date: {{ article.publishedat }}</h6>
      <p>
        {{ article.description }}
      </p>
      <p>
        <a class="btn btn-outline-info btn-large" href="{{ article.url }}"><i class="fas fa-eye"></i> View Article</a>
      </p>
    </div>
    <hr>
    {% endfor %}
  </div>
  <br>
</div>
{% endblock %}
