{% load static %}
<div class="sidebar-inner d-flex flex-column">
  <div class="px-4 py-5">
    <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}" alt="site logo" width="90"></a>
    <h4>PyNews</h4>
    <p class="text-muted">Just Info. No Spin</p>
  </div>
  <br>
  <div class="sidebar-menu-holder flex-grow-1">
    <ul class="sidebar-menu list-unstyled">
      <li class="mb-2 pb-1">
        {% url 'index' as index %}
        <a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large {% if request.path == index %} active {% endif  %}" href="{% url 'index' %}"><i class="fas fa-home mr-2 mb-2 fa-fw"></i> Home
        </a>
      </li>
      <li class="mb-2 pb-1">
        {% url 'about' as about %}
        <a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large {% if request.path == about %} active {% endif  %}" href="{% url 'about' %}"><i class="fas fa-info-circle mr-2 mb-2 fa-fw"></i> About</a>
      </li>
    </ul>
    <br>
    <ul class="sidebar-menu list-unstyled">
      <h4 class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large">Topics</h4>
      <li class="mb-2 pb-1">
        <a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large" href="#"><i class="fas fa-podcast mr-2 mb-2 fa-fw"></i> Podcasts</a>
      </li>
      <li class="mb-2 pb-1">
        <a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large" href="#"><i class="fas fa-gamepad mr-2 mb-2 fa-fw"></i> Gaming</a>
      </li>
      <li class="mb-2 pb-1">
        <a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large" href="#"><i class="fas fa-code mr-2 mb-2 fa-fw"></i> Coding</a>
      </li>

    </ul>
  </div>
</div>
