{% load static %}
<div class="sidebar-inner d-flex flex-column">
  <div class="px-4 py-5">
    <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}" alt="site logo" width="90"></a>
    <h4>PyNews</h4>
    {% if user.is_authenticated %}
    <p>Hello, {{ user.username }}</p>
    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-lg"></i> Logout</a>
    {% else %}
    <p>Goodbye, Come back soon!</p>
    <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt fa-lg"></i> Login</a>
    {% endif %}
  </div>
  <br>
  <div class="sidebar-menu-holder flex-grow-1">
    <ul class="sidebar-menu list-unstyled">
      <li class="mb-2 pb-1">
        <a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large" href="{% url 'index' %}?search=top"><i class="far fa-newspaper mr-2 mb-2 fa-fw"></i> Top News</a>
      </li>
    </ul>

    <br>

    <ul class="sidebar-menu list-unstyled">
      <h4 class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large">Main Topics | API Feed</h4>
      <li class="mb-2 pb-1">
        <a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large" href="{% url 'index' %}?search=Gaming"><i class="fas fa-gamepad mr-2 mb-2 fa-fw"></i> Gaming</a>
      </li>
      <li class="mb-2 pb-1">
        <a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large" href="{% url 'index' %}?search=Coding"><i class="fas fa-code mr-2 mb-2 fa-fw"></i> Coding</a>
      </li>
      <li class="mb-2 pb-1">
        <a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large" href="{% url 'index' %}?search=Movies"><i class="fas fa-film mr-2 mb-2 fa-fw"></i> Movies</a>
      </li>
      <li class="mb-2 pb-1">
        <a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large" href="{% url 'index' %}?search=Technology"><i class="fas fa-server mr-2 mb-2 fa-fw"></i> Technology</a>
      </li>
      <li class="mb-2 pb-1">
        <a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large" href="{% url 'index' %}?search=Finances"><i class="fas fa-money-bill-wave mr-2 mb-2 fa-fw"></i> Finance</a>
      </li>
      <li class="mb-2 pb-1">
        <a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large" href="{% url 'index' %}?search=Podcasts"><i class="fas fa-podcast mr-2 mb-2 fa-fw"></i> Podcasts</a>
      </li>
    </ul>

    <br>

    <ul class="sidebar-menu list-unstyled">
      <h4 class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large">Scraped Pages</h4>
      <li class="mb-2 pb-1">
        <a class="sidebar-link h6 text-uppercase letter-spacing-2 font-weight-bold text-large" href="#"><i class="fas fa-question mr-2 mb-2 fa-fw"></i> Coming soon...</a>
      </li>
    </ul>
  </div>
</div>
